@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body{
	background-image: url('../images/boteco.jpg');
	background-size: cover;
	color: #ffffff;
	font-family: 'Arial';
	height: 80%;
}

#saidas {
	position: absolute;
	top: 30%;
	right: 35%;
	left: 35%;
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	border-radius: 10px;
	padding: 3em;
}

h1{
	color: #ffcc00;
}

main{
	padding: 3em;
	background-color: #002817;
	width: 60%;
	min-height: 40em;
	margin: auto;
	margin-top: 5%;
	height: 60%;
}

#qtdrefri{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}

#qtdrun{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}

#qtdgelo{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}

#colunas{
	-webkit-animation-name: first;
	-webkit-animation-duration: 1s;
	-moz-animation-name: first;
	-moz-animation-duration: 1s;
	-o-animation-name: first;
	-o-animation-duration: 1s;
	-ie-animation-name: first;
	-ie-animation-duration: 1s;
	padding-top: 50px;
}

#btnmix{
	display: block;
	text-decoration: none;
	color: #FFF;
	background-color: #404040;
	border-bottom: solid 3px #000000;
	width: 210px;
	padding: 5px;
	margin: 15px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ie-transition: all 0.2s;
	border-radius: 8px;
}

#btnmix:hover{
	background-color: #000000;
	border-bottom: solid 1px #1a1a1a;
}

#btnmix:active {
 	background-color: #404040;
 	border-bottom: solid 1px #1a1a1a;
}

.itens {
	text-align: center;
	width: 24%; 
    float: left;
}

input[type=range] {
	width: 100px !important;
}

input.valor {
	border: none;
	outline: none;
	color: #fff;
	background: transparent;
}
.itens input {
	margin: 1em;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.bebidas {
	background: #00331e;
	text-align: center;
	display: block;
	float: left;
	width: 43%;
	margin: 0.2em;
	padding: 1em;
}

.escolha-bebidas {
	height: 20em;
}

.coca{background-image:url('../images/coca.png');}
.pepsi{background-image:url('../images/pepsi.png');}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:130px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.oculto {
	display: none;
}
.fechar {
	position: absolute;
	right: -10px;
	top: -10px;
}

.fechar:hover {
	cursor: pointer;
}
.fechar img {
	width: 30px;
}