@charset "utf-8";
/* CSS Document */

body{
	background-color:#6A2E35;
	color: #ffffff;
	font-family: 'Arial';
}

h1{
	color: #ffcc00;
}

#qtdrefri{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}

#qtdrun{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}

#qtdgelo{
	padding: 5px;
	width: 50px;
	alignment-adjust:central;
	border-radius: 8px;
}



#colunas{
	-webkit-animation-name: first;
	-webkit-animation-duration: 1s;
	-moz-animation-name: first;
	-moz-animation-duration: 1s;
	-o-animation-name: first;
	-o-animation-duration: 1s;
	-ie-animation-name: first;
	-ie-animation-duration: 1s;
	padding-top: 50px;
}

#btnmix{
	display: block;
	text-decoration: none;
	color: #FFF;
	background-color: #404040;
	border-bottom: solid 3px #000000;
	width: 210px;
	padding: 5px;
	margin: 15px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ie-transition: all 0.2s;
	border-radius: 8px;
}

#btnmix:hover{
	background-color: #000000;
	border-bottom: solid 1px #1a1a1a;
}

#btnmix:active {
 	background-color: #404040;
 	border-bottom: solid 1px #1a1a1a;
}

.itens {
	display: block;
	width: 30%;
	text-align: left;
	display: flex;
}

input[type=range] {
	width: 100px !important;
}

input.valor {
	background-color: #6A2E35;
	border: none;
	outline: none;
	color: #fff;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.coca{background-image:url('../images/coca.png');}
.pepsi{background-image:url('../images/pepsi.png');}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:130px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}